html, body {
  font: normal 28px Helvetica, Arial, sans-serif;
}

html {
  background-color: #ffffff;
  color: #000000;
}

body {
  margin: 8px;
}

article {
  border: 2px solid #000000;
  box-sizing: border-box;
  padding: 10px 15px 15px 15px;
  width: 680px;
}

h1, h2 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h2 {
  border-bottom: 1px solid #000000;
  border-top: 30px solid #000000;
  margin: 5px auto 0 auto;
  padding: 10px 0;
}

dl {
  box-sizing: border-box;
  display: inline-block;
  font-size: 0;
  padding: 5px 0;
  vertical-align: top;
  width: 50%;
}

dt,
dd {
  display: inline;
  font-size: 1rem;
  vertical-align: top;
}

dt {
  font-weight: bold;
}

dt::after {
  display: inline;
  content: " ";
}

sup {
  font-size: smaller;
  padding-right: 1px;
  position: static;
  top: auto;
  vertical-align: 3px;
}

/******************************************************************************/
/* Header material                                                            */
/******************************************************************************/

header {
  border-bottom: 15px solid #000000;
  margin-bottom: 10px;
}

header dl + dl {
  text-align: right;
}

header dl + dl dt {
  font-weight: normal;
}

/******************************************************************************/
/* Tables                                                                     */
/******************************************************************************/

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table + table {
  font-size: 0.8rem;
}

th,
td {
  padding: 2px 0;
  text-align: left;
}

th dd {
  font-weight: normal;
}

table + table td {
  border-top: none;
  text-align: left;
  width: 37%;
}

table + table td:not(:first-of-type) {
  font-weight: normal;
  text-align: left;
  width: 21%;
}

.indent {
  border-top: none;
  width: 1rem;
}

table + table .indent {
  text-indent: 1.2rem;
}

/******************************************************************************/
/* Table head                                                                 */
/******************************************************************************/

thead th {
  font-weight: 600;
  padding: 1px 0;
  text-align: right;
  vertical-align: middle;
}

table + table thead {
  border-bottom: 1px solid black;
}

table + table thead th {
  font-weight: normal;
  padding-left: 1px;
  text-align: left;
}

/******************************************************************************/
/* Table body                                                                 */
/******************************************************************************/

tbody + tbody {
  border-top: 20px solid black;
}

tbody th,
tbody td {
  border-top: 1px solid black;
}

table:first-of-type tbody td:last-of-type {
  font-weight: 600;
  text-align: right;
}

tbody dl {
  display: inline-block;
  padding-bottom: 0;
  padding-top: 0;
  text-align: left;
  width: auto;
}

tbody td dt {
  font-weight: normal;
}

table:first-of-type tbody + tbody td:last-of-type {
  font-weight: normal;
}

/******************************************************************************/
/* Table foot                                                                 */
/******************************************************************************/

tfoot {
  border-top: 1px solid black;
  font-size: 0;
}

tfoot tr {
  text-align: left;
}

tfoot td {
  text-align: left;
  padding-top: 0;
}

tfoot p {
  box-sizing: border-box;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: normal;
  margin: 14px 0;
  text-align: left;
  width: 97%;
  vertical-align: top;
}

tfoot p:first-of-type {
  width: 3%;
}

tfoot p:last-of-type {
  padding-right: 2%;
}
